.content {
    display: flex;
    position: relative;
    height: calc(100vh - 3rem);
    overflow-y: hidden;
}

#sideMenu {
    --width: 40%;
    --max-width: 350px;
    width: var(--width);
    max-width: var(--max-width);
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    border: 0;
    height: 100%;
}

main {
    width: -webkit-fill-available;
    overflow-y: scroll
}

.section table.w-40 {
    width: 45%;
    margin-right: 0;
}

.section table.w-40:first-child {
    margin-left: 1rem;
}

.card {
    width: 300px
}

#table table {
    display: inline-table;
}

#grid .row {
    border-spacing: var(--spacing-small) 0;
}

#grid .row>.col {
    background-color: var(--primary);
    color: var(--bg);
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: .88rem;
    text-align: center;
}

main>section:first-child {
    border-top: none;
}